rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{docId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /proposals/{docId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /volunteers/{docId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /donations/{docId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
  }
}
